<template name="userTransport">
    <div class="form-box">
        <header>
            <h2>User <b>Transport</b> Profile</h2>
        </header>
        {{#autoForm schema="Schemas.UserSignUp" id="signUpForm" }}
            {{> afQuickField name='email' placeholder="Write your e-mail here" }}
            {{> afQuickField name='companyName' placeholder="Write your fullname here" }}
            {{> afQuickField name='password' type="password" placeholder="Create your password" }}
            {{> afQuickField name='passwordConfirmation' type="password" placeholder="Your password once again" }}
            <div class="buttons">
                <button class="btn btn-primary" type='submit'>Register now</button>
            </div>
        {{/autoForm }}
    </div>
</template>